.AddContactForm {
  position: fixed;
  display: flex;
  background-color: #a8dadc;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  border-radius: 0.8rem;
  border: 2px solid #457b9d;
  animation: addContactFormAnimation 1s ease-out;

  label {
    margin: 0.5rem;
    font-size: 1.5rem;
    font-weight: 600;
  }

  input {
    background-color: #f0f0f0;
    border: none;
    font-size: 1.5rem;
    padding: 0.3rem;
    border-radius: 0.4rem;
    margin: 0.3rem;
    border: 2px solid transparent;
    transition: all 0.3s;

    &:focus {
      outline: none;
      border: 2px solid #457b9d;
    }
  }

  &__buttons {
    display: flex;
    justify-content: center;

    button {
      margin: 0.5rem;
      width: 10rem;
      height: 2rem;
      font-size: 1.5rem;
      font-weight: 600;
      border: none;
      border-radius: 0.3rem;
      color: #ffffff;
      cursor: pointer;
      transition: all 0.3s;

      &:hover {
        transform: translateY(0.3rem);
      }
    }

    &--cancell {
      background-color: #e63946;
    }

    &--add {
      background-color: #457b9d;
    }
  }
}

@keyframes addContactFormAnimation {
  0% {
    top: -100%;
  }
  80% {
    top: 55%;
  }
  100% {
    top: 50%;
  }
}
