.ContactCard {
  padding: 0.5rem;
  display: flex;
  margin: 1rem;
  border: 2px solid #e63946;
  border-radius: 0.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 800;

  &__image {
    border-radius: 14%;
    margin-bottom: 1rem;
  }

  &__title {
    font-size: 1.5rem;
  }

  &__number {
    font-size: 1.5rem;
  }

  &__email {
    font-size: 0.6rem;
  }
}
