.ContactCard {
  border: 2px solid #e63946;
  border-radius: 0.3rem;
  font-weight: 800;

  &__buttons {
    button {
      border: none;
      border-radius: 0.2rem;
      color: #ffffff;
      font-weight: 600;
      cursor: pointer;
      transition: all 0.3s;
      &:hover {
        transform: scale(1.1);
      }
    }

    &--delete,
    &--cancell {
      background-color: #e63946;
    }

    &--edit,
    &--save {
      background-color: #457b9d;
    }
  }
}
